.vs
.vscode

/FileService/.vs
/FileService/[Oo]bj
/FileService/[Bb]in

/FileSortService/.vs
/FileSortService/[Oo]bj
/FileSortService/[Bb]in
/FileSortService/[Tt]est


/PhotoService/.vs
/PhotoService/[Oo]bj
/PhotoService/[Bb]in


/VideoService/.vs
/VideoService/[Oo]bj
/VideoService/[Bb]in
